//! **************************************************************************
// Written by: Map O.87xd on Thu Nov 21 14:27:35 2013
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "vga<0>" LOCATE = SITE "U7" LEVEL 1;
COMP "vga<1>" LOCATE = SITE "V7" LEVEL 1;
COMP "vga<2>" LOCATE = SITE "N7" LEVEL 1;
COMP "vga<3>" LOCATE = SITE "P8" LEVEL 1;
COMP "vga<4>" LOCATE = SITE "T6" LEVEL 1;
COMP "vga<5>" LOCATE = SITE "V6" LEVEL 1;
COMP "vga<6>" LOCATE = SITE "R7" LEVEL 1;
COMP "Hsync" LOCATE = SITE "N6" LEVEL 1;
COMP "vga<7>" LOCATE = SITE "T7" LEVEL 1;
COMP "Vsync" LOCATE = SITE "P7" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "screen_process_enable" BEL "NW_CLK.divider_0" BEL
        "NW_CLK.divider_1" BEL "X_0" BEL "X_1" BEL "X_2" BEL "X_5" BEL "X_3"
        BEL "X_4" BEL "X_6" BEL "X_7" BEL "X_8" BEL "X_9" BEL "Y_1" BEL "Y_2"
        BEL "Y_3" BEL "Y_4" BEL "Y_5" BEL "Y_6" BEL "Y_7" BEL "Y_8" BEL "Y_9"
        BEL "Y_0" BEL "clk_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

