//! **************************************************************************
// Written by: Map P.68d on Tue Oct 22 21:41:54 2013
//! **************************************************************************

SCHEMATIC START;
COMP "RGB<0>" LOCATE = SITE "T7" LEVEL 1;
COMP "RGB<1>" LOCATE = SITE "R7" LEVEL 1;
COMP "RGB<2>" LOCATE = SITE "V6" LEVEL 1;
COMP "RGB<3>" LOCATE = SITE "T6" LEVEL 1;
COMP "RGB<4>" LOCATE = SITE "P8" LEVEL 1;
COMP "RGB<5>" LOCATE = SITE "N7" LEVEL 1;
COMP "RGB<6>" LOCATE = SITE "V7" LEVEL 1;
COMP "RGB<7>" LOCATE = SITE "U7" LEVEL 1;
COMP "SWS<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "SWS<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "SWS<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "SWS<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "SWS<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "SWS<5>" LOCATE = SITE "U8" LEVEL 1;
COMP "HSYNC" LOCATE = SITE "N6" LEVEL 1;
COMP "SWS<6>" LOCATE = SITE "V8" LEVEL 1;
COMP "SWS<7>" LOCATE = SITE "T5" LEVEL 1;
COMP "CLOCK" LOCATE = SITE "V10" LEVEL 1;
COMP "VSYNC" LOCATE = SITE "P7" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "DIV_0" BEL "DIV_1" BEL "CLOCK_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

