//! **************************************************************************
// Written by: Map O.40d on Mon Feb 13 20:14:37 2012
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "K17" LEVEL 1;
COMP "pause" LOCATE = SITE "L13" LEVEL 1;
COMP "reset" LOCATE = SITE "H13" LEVEL 1;
COMP "count_out<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "count_out<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "add" LOCATE = SITE "L14" LEVEL 1;
COMP "count_out<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "count_out<3>" LOCATE = SITE "F11" LEVEL 1;
COMP "count_out<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "count_out<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "count_out<6>" LOCATE = SITE "E9" LEVEL 1;
COMP "count_out<7>" LOCATE = SITE "F9" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

